.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#Projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.social a:hover i {
  color: #ffffff;
  transition: all ease 0.5s;
}

.social {
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
  background-color: #ffffff;
  border: 1px solid #cbcbcb;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.social a:hover {
  background-color: #000000;
  transition: all ease 0.5s;
}

.social i {
  font-size: 20px;
  color: #2b2b2b;
}

a {
  text-decoration: none;
}
