.jumbotron {
  padding-top: 6rem;
  background-color: #c8b0ff;
}

#Projects {
  background-color: #c8b0ff;
}

section {
  padding-top: 5rem;
}

.social-icons a{
  width:40px;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8153f0;
  border-radius:50%;
}

.social-icons{
    flex: 10;
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

ul {
    list-style-type: none;

}

.social-icons a:hover{
  background-color: #6726ff;
  box-shadow:2px 2px 10px rgba(0,0,0,0.2);
  transition:all ease 0.7s;
}

.bd-navbar {
  background-color: #8153f0;
}

.btn-bd-primary {
  background-color: #8153f0;
}
.alert-primary {
  background-color: #c8b0ff;
}
